body{
	margin:0px;
}

.jobs_box{
	margin: 10px 0px;
}
.job_item:hover{
	cursor: pointer;
}

.job_item{
	background-color: white;
	border-bottom: 1px solid #511e87;
}

.job_item img{
	height: 60px;
	margin: 10px 0px 0px 10px;
	border: 2px solid #511e87;
}

.job_item > div{
	padding: 0px 10px;
	padding-bottom: 10px;
}

.job_item > div span{
	font-weight: 300;
	font-size: 16px;
	color: #511e87;
}

.job_item > div > span:first-child{
	font-weight: bold;
	font-size: 26px;
	color: #511e87;
}

.job_item > div span:first-child a{
	color: #511e87;
}

.jobdesc{
	padding: 10px;
	border-bottom: 1px solid #511e87;
}

.jobdesc >span:first-child{
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}