<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <span class="h1 d-inline">Welcome page</span>
<!--        <a th:text="${username == null ? '请登录' : username}" th:href="${username == null ? '/login' : '#'}"></a>-->
        <div sec:authorize="isAuthenticated()">
            <span class="mark" th:text="${username != null ? username : 'error'}"></span><span>:已登录</span>
            <a class="item" th:href="@{/logout}">注销</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/tologin}">请登录</a>
        </div>
    </div>
    <div class="row">
        <div class="col-4" sec:authorize="hasRole('vip1')">
            <a th:href="@{/level/level1}">Level1</a>
        </div>
        <div class="col-4" sec:authorize="hasRole('vip2')">
            <a th:href="@{/level/level2}">Level2</a>
        </div>
        <div class="col-4" sec:authorize="hasRole('vip3')">
            <a th:href="@{/level/level3}">Level3</a>
        </div>
    </div>
</div>
</body>
</html>